// sass-lint:disable no-color-literals no-important

.logo {
  margin: 0 !important;
}


// gallery

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .figure {
    width: 33%;
    padding: 5px;
    margin-bottom: 0 !important;

    img {
      display: block;
      padding: 5px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      transition: .2s ease-in-out;

      &:hover {
        border-color: #428bca;
      }
    }
  }
}


// parameters

dl {
  &.field-list {
    background-color: #ede;

    dt {
      padding: 6px 12px;
    }

    dd {
      background-color: #eef;
      padding: 6px 12px;
    }
  }
}


// start page

.banner {
  margin-bottom: 0 !important;
  width: 100%;
}


.startpage {
  a {
    font-size: 1.3em;
  }

  h2 {
    margin-top: 1.3em;
  }

  .hlist {
    margin-bottom: 1.3em;

    td {
      width: 50%;
    }

    li {
      list-style: none !important;
      margin: 0 0 1.3em;
    }

    p {
      margin: 0 !important;

      & + p {
        font-size: .85em;
      }
    }
  }
}


// responsive table in startpage

@media all and (max-width: 1024px) {
  .startpage {
    .hlist {
      td {
        display: block;
        width: 100% !important;
      }
    }
  }
}
